<!doctype html>


<head><title>Test</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Sistema de Control Redundante IoT</h1>
        <h2>Entrada de Control</h2>
        <p>{{list_to_send[0]}}</p>
        <h2>Salida del Control</h2>
        <p>{{list_to_send[1]}}</p>
        <h2>Referencia</h2>
        <p>{{list_to_send[2]}}</p>
        <h2>Nivel del Tanque</h2>
        <p>{{list_to_send[3]}}</p>
        <form action="/my-link/">
            <input type="submit" value="Click me" />
        </form>
        <button> <a href="/my-link/">Click me</a></button>

    </body>