<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control</title>
    <!--Opcion 1-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <h2>Entrada Controlador</h2>
    </div>
    <div>
        <a>Valor : </a>
        <a id = "in"></a>
    </div>

    <div>
        <h2>Salida Controlador</h2>
    </div>
    <div>
        <a>Valor : </a>
        <a id = "ValorB"></a>
    </div>
    <div>
        <h2>Nivel de Agua</h2>
    </div>
    <div>
        <a>Valor : </a>
        <p>{{list_to_send[3]}}</p>
    </div>
    <form action="/my-link/">
        <input type="submit" value="Correr Control" />
    </form>   
    <form action="/refresh/">
        <input type="submit" value="Actualizar" />
    </form>
</body>
</html>