<form action="/usuario" method="get">
    <label for="nombreUser">Nombre de Usuario</label>
    <input type="text" name="nombreUser"><br/>
 
    <label for="contraseña">Contraseña</label>
    <input type="password" name="contraseña"><br/>
 
    <input type="submit" value="Iniciar Sesión" />
</form>