body {  
    font-size: 20px ;
    background: #96aab7 ;
    color: #000000;
}


#chartdiv {
    width: 500px;
    height: 200px;
}

/* div{
    width: 75%;
    /* height: 700px; */
    background: #000000;
    color: #ffffff;
    /* Margen Externo */
    margin-left: 10%;
    /* margin: 20px; */
    /* margen interno */
    padding: 30px;
} */

/* Definicion para las posiciones del mismo */
.content {
    width: 80%;
}

.title {
    font-size: 45px;
    font-weight: bold;
    margin-left: 4%;
    padding-left: 30px;
    padding-top: 10px;   
    padding-bottom: 5px;
    background-color: #96aab7;
    border: #464e5d solid 7px;
    width: 90%;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border:#464e5d solid 7px;
    height: 415px;
    background: #96aab7;
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 650px;
    border: #464e5d solid 7px;
    height: 415px;
    background: #96aab7;
}

.boton{
    font-size:25px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:200px;
    height:30px;
   }

   /* Websocket*/
   #messages
{
background-color:yellow;
font-size:3;
font-weight:bold;
line-height:140%;
}
#status
{
background-color:red;
font-size:4;
font-weight:bold;
color:white;
line-height:140%;
}

